# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.gradle/2.10/tasks/
.idea/workspace.xml
app/libs/
app/src/main/res/drawable/
build/intermediates/
